.dashboard{
    width:90%;
    max-width:1150px;
    margin:40px auto;
}

.summary{
    display:flex;
    gap:20px;
    margin:30px 0;
}

.summary-card{
    flex:1;
    background:#161b22;
    border:1px solid #30363d;
    border-top:4px solid #facc15;
    padding:28px;
    border-radius:18px;
    transition:.3s;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.summary-card:hover{
    transform:translateY(-6px);
    box-shadow:0 0 25px rgba(250,204,21,.18);
}

.summary-card h3{
    color:#8b949e;
    font-size:15px;
    font-weight:500;
    margin-bottom:12px;
}

.summary-card h2{
    color:#f8fafc;
    font-size:30px;
    font-weight:700;
}

.expense-card{
    background:#161b22;
    border:1px solid #30363d;
    border-radius:18px;
    padding:22px 24px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
    transition:.3s;
    box-shadow:0 8px 25px rgba(0,0,0,.25);
}

.expense-card:hover{
    transform:translateY(-4px);
    border-color:#facc15;
    box-shadow:0 0 18px rgba(250,204,21,.15);
}

.expense-info h3{
    color:#ffffff;
    font-size:18px;
    margin-bottom:6px;
}

.expense-info p{
    color:#facc15;
    font-weight:600;
    font-size:18px;
}

.expense-buttons{
    display:flex;
    align-items:center;
    gap:16px;
}

button{
    border:none;
    border-radius:10px;
    cursor:pointer;
    transition:.25s ease;
    padding:12px 20px;
    font-size:15px;
    font-weight:600;
}

.edit-btn,
.delete-btn{
    width:90px;
    padding:10px 0;
}

.edit-btn{
    background:#facc15;
    color:#111827;
}

.edit-btn:hover{
    background:#eab308;
    transform:translateY(-2px);
}

.delete-btn{
    background:#ef4444;
    color:white;
}

.delete-btn:hover{
    background:#dc2626;
    transform:translateY(-2px);
}

.form-card{
    width:100%;
    max-width:650px;
    margin:40px auto 0;
    background:#161b22;
    border:1px solid #30363d;
    border-radius:18px;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.form-card h2{
    color:#facc15;
    margin-bottom:22px;
}

.form-card input{
    width:100%;
    padding:13px 16px;
    margin-bottom:16px;
    background:#21262d;
    color:#ffffff;
    border:1px solid #30363d;
    border-radius:10px;
    font-size:15px;
}

.form-card input::placeholder{
    color:#8b949e;
}

.form-card input:focus{
    outline:none;
    border-color:#facc15;
    box-shadow:0 0 12px rgba(250,204,21,.25);
}

.add-btn{
    width:100%;
    padding:14px;
    margin-top:8px;
    background:#facc15;
    color:#111827;
    font-weight:700;
    font-size:15px;
    border-radius:10px;
}

.add-btn:hover{
    background:#eab308;
    transform:translateY(-2px);
}