body{
    margin:0;
    background:#0d1117;
    color:#f8fafc;
    font-family:"Poppins",sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

button{
    font-family:inherit;
}

input{
    font-family:inherit;
}